@import '../../styles/variables.scss';

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heroImage {
        width: 100%;
        height: 80px;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media (min-width: $screen-desktop) {
            height: 175px;
            border-radius: $standardBorderRadius;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .informationText {
        width: 100%;
        //background-color: $grey;
        padding: $smallPadding;
        //border-radius: $standardBorderRadius;
        margin-bottom: $smallPadding;

        @media (min-width: $screen-desktop) {
            padding: $mediumPadding;
            //width: 50%;
            column-count: 2;
            column-width: 45%;
            column-gap: $mediumPadding;
            margin-bottom: $mediumPadding;
        }
    }
}