@import '../../styles/variables.scss';

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heroImage {
        width: 100%;
        height: 80px;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media (min-width: $screen-desktop) {
            height: 175px;
            border-radius: $standardBorderRadius;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .informationTextAndImages {
        display: flex;
        flex-direction: column;

        .informationText {
            width: 100%;
            padding: $smallPadding;
            margin-bottom: $smallPadding;
    
            @media (min-width: $screen-desktop) {

                
                padding: $mediumPadding;
                column-count: 2;
                column-width: 45%;
                column-gap: $mediumPadding;
                margin-bottom: $mediumPadding;
            }
        }

        .informationImg {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media (min-width: $screen-desktop) {
                flex-direction: row;
            }

            > .imgWrapper {
                width: 100%;
                height: auto;
                overflow: hidden;

                @media (min-width: $screen-desktop) {
                    width: 50%;
                    height: 500px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    
}