@import '../../styles/variables.scss';

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $mediumPadding 0;

    .wrapper {
        width: 60%;
        background-color: $grey;
        padding: $mediumPadding;
        border-radius: $standardBorderRadius;
        column-count: 2;
        column-width: 45%;
        column-gap: $mediumPadding;
    }
}