@import '../../styles/variables.scss';

.mainAdminWrapper {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .adminHeaderWrapper {
        width: 100%;
        background-color: $blackHalfOp;
        color: $white;
        margin-bottom: 50px;

        > h1 {
            text-align: center;
        }

        > button {
            position: relative;
            left: calc(100vw - 150px);
            bottom: 10px;
            background-color: $red;
            color: $white;
            padding: 10px 20px;
            border: none;

        }
    }

    .logInWindow {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin-top: 100px;

        .returnHome {
            margin-bottom: 50px;
        }

        > input {
            margin-bottom: 30px;
            padding: 5px 0;
        }
    }
}