@import '../../styles/variables.scss';

.callToActionButton {
    background-color: $red;
    color: $white;
    padding: 10px;
    border-radius: $standardBorderRadius;
    border: none;

    &:hover {
        background-color: $black;
    }

    &:active{
        color: $red;
    }
}