@import '../../styles/variables.scss';

.callToActionButton {
    background-color: $brown;
    color: $white;
    padding: 10px 20px;
    border-radius: $standardBorderRadius;
    border: none;

    @media (min-width: $screen-desktop) {
        &:hover {
            background-color: $red;
            transition: background-color $standardTransitionTime;
        }
    
        &:active{
            color: $brown;
            background-color: $white;
        }
    }
}