@import '../../styles/variables.scss';

.callToActionButton {
    background-color: $brown;
    color: $white;
    padding: 10px 20px;
    border-radius: $standardBorderRadius;
    border: none;

    &:active{
        color: $brown;
        background-color: $white;
    }

    @media (min-width: $screen-desktop) {
        &:hover {
            background-color: $red;
            transition: background-color $standardTransitionTime;
        }
    }
}