@import './fonts.scss';
@import './variables.scss';

h1 {
    font-family: 'Proxima Nova Alt';
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    color: $black;
    margin: 20px 0 10px;

    @media (min-width: $screen-desktop) {
        font-size: 32px;
        line-height: 35px;
    }
}

h2 {
    font-family: 'Proxima Nova Alt';
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    color: $black;
    margin: 20px 0 10px;

    @media (min-width: $screen-desktop) {
        font-size: 28px;
        line-height: 32px;
    }
}

h3 {
    font-family: 'Proxima Nova Alt';
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: $black;
    margin: 20px 0 10px;

    @media (min-width: $screen-desktop) {
        font-size: 25px;
        line-height: 28px;
    }
}

h4 {
    font-family: 'Proxima Nova Alt';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $black;
    margin: 10px 0 5px;

    @media (min-width: $screen-desktop) {
        font-size: 21px;
        line-height: 25px;
    }
}

h5,
H6 {
    font-family: 'Proxima Nova Alt';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    margin: 10px 0 5px;

    @media (min-width: $screen-desktop) {
        font-size: 18px;
        line-height: 23px;
    }
}

p {
    font-family: 'Proxima Nova Alt';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $black;
    margin: 10px 0 5px;

    @media (min-width: $screen-desktop) {
        font-size: 21px;
        line-height: 25px;
    }
}

a {
    font-family: 'Proxima Nova Alt';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $black;
    margin: 10px 0 5px;
    text-decoration: none;

    @media (min-width: $screen-desktop) {
        font-size: 21px;
        line-height: 25px;

        &:hover {
            cursor: pointer;
            color: $brown;
            transition: color $standardTransitionTime;
        }
    }
}

.textWrapper {
    > *:first-child {
        margin-top: 0;
    }
}

button {
    font-family: 'Proxima Nova Alt';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;

    @media (min-width: $screen-desktop) {
        font-size: 21px;
        line-height: 25px;
    }
}

.menuBar > li > a {
    font-family: PTF;
    font-size: 28px;
    line-height: 32px;
    color: $white;
    font-weight: bold;
    letter-spacing: 2px;

    @media (min-width: $screen-desktop) {
        font-size: 20px;
        line-height: 22px;
        color: $black;
        letter-spacing: 1px;
    }
}

li {
    font-family: 'Proxima Nova Alt';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black;
}