@import './fonts.scss';
@import './variables.scss';

h4 {
    font-family: 'Proxima Nova Alt';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $black;
}

p {
    font-family: 'Proxima Nova Alt';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black;
}

button {
    font-family: 'Proxima Nova Alt';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black;
}

li {
    font-family: PTF;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .5px;
    color: $black;
}

.listItem {
    padding-left: 1em;
    position: relative;

    &:before {
        content: '';
        background-color: $black;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 5px;
        left: 4px;

    }
}