@import './fonts.scss';
@import './variables.scss';

h4 {
    font-family: 'Proxima Nova Alt';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $black;

    @media (min-width: $screen-desktop) {
        font-size: 21px;
        line-height: 25px;
    }
}

p {
    font-family: 'Proxima Nova Alt';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $black;

    @media (min-width: $screen-desktop) {
        font-size: 21px;
        line-height: 25px;
    }
}

a {
    font-family: 'Proxima Nova Alt';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

button {
    font-family: 'Proxima Nova Alt';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black;
}

.menuBar > li > a {
    font-family: PTF;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .5px;
    color: $black;
    font-weight: bold;
}

li {
    font-family: 'Proxima Nova Alt';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black;
}