$white: #f9f1d8;
$black: #262323;
$blackHalfOp: rgba(38,35,35, .8);
$red: #991c15;
// $red: #E94D4D;
$brown: #7a381a;
$grey: #b8b3a4;
$greyHalfOp: rgba(184,179,164, .4);

$standardBorderRadius: 10px;
$smallPadding: 20px;
$mediumPadding: 50px;
$largePadding: 100px;

$screen-desktop: 950px;