$white: #f9f1d8;
$black: #262323;
$blackHalfOp: rgba(38,35,35, .8);
//$red: #991c15;
$red: #D12C28;
$brown: #7a381a;
$grey: #b8b3a4;
$greyHalfOp: rgba(184,179,164, .7);

$standardBorderRadius: 10px;
$standardTransitionTime: 0.3s;
$smallPadding: 20px;
$mediumPadding: 50px;
$largePadding: 100px;

$screen-desktop: 950px;
$screen-desktop-XL: 1240px;
$standard-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);