@import '../../styles/variables.scss';

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heroImage {
        width: 100%;
        height: 80px;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media (min-width: $screen-desktop) {
            height: 175px;
            border-radius: $standardBorderRadius;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .aboutText {
        width: 100%;
        //background-color: $white;
        //padding: $smallPadding;
        margin-bottom: $smallPadding;
        //$standardBorderRadius;
        align-self: center;
        padding: 0 20px;

        @media (min-width: $screen-desktop) {
            //margin-bottom: $mediumPadding;
            padding: $mediumPadding;
            width: 80%;
        }
    }

    .aboutPictures {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .upperBlock,
        .bottomBlock {
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;

            @media (min-width: $screen-desktop) {
                flex-direction: row;
            }

            .largeImageBlock {
                flex: 1;
                overflow: hidden;
                position: relative;
                margin: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                @media (min-width: $screen-desktop) {
                    margin: 2px;
                }

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .smallImageBlock {
                flex: 1;
                overflow: hidden;
                height: 60%;
                position: relative;
                margin: 5px;
                

                @media (min-width: $screen-desktop) {
                    margin: 2px;
                }

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                    @media (min-width: $screen-desktop) {
                        width: 50%;
                    }
                }
            }
            .right {
                align-self: flex-end;
            }

            .left {
                display: flex;
                justify-content: flex-end;
            }

            .imageOverlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $grey;
                z-index: 2;
                opacity: 0.2;
            }

            .small {
                width: 100%;

                @media (min-width: $screen-desktop) {
                    width: 50%;
                }
            }

            .rightPosition {
                left: auto;
                right: 0;
            }
            
        }
    }
}
