@import '../../styles/variables.scss';

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;


    .heroImage {
        width: 100%;
        height: 80px;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media (min-width: $screen-desktop) {
            height: 175px;
            border-radius: $standardBorderRadius;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .contentWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 1230px) {
            flex-direction: row;
        }
    }

    .textBlockAbout {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1230px) {
            width: 500px;
            padding: 50px 0;
            align-items: flex-start;
        }

        .aboutText {
            max-width: 500px;
        }

        .ABF {
            text-align: center;

            @media (min-width: 1230px) {
                text-align: left;
            }

            > img {
                width: 175px;
            }
        }
    }

    

    .aboutPictures {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;

        @media (min-width: 1230px) {
            flex: 1;
            padding: 70px 0 50px;
        }

        .image {
            width: 325px;
            height: calc(325px / 1.5);
            border-radius: $standardBorderRadius;
            position: relative;
            margin-bottom: 50px;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            &:last-child {
                margin-bottom: 0;
            }

            @media (min-width: 650px) {
                width: 500px;
                height: calc(500px / 1.5);
            }

            @media (min-width: 1650px) {
                width: 700px;
                height: calc(700px / 1.5);
            }
            .imageOverlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $grey;
                z-index: 2;
                opacity: 0.2;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
