@import '../../styles/variables.scss';

.homeWrapper {
    height: calc(100vh - 90px);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $white;
    overflow: hidden;

    @media(min-width: $screen-desktop) {
        height: calc(100vh - 190px);
    }

    .mainPic {
        height: 50px;
        margin-top: 200px;

        @media(min-width: $screen-desktop) {
            height: 200px;
            margin-top: 200px;
        }
    }
}

