@import '../../styles/variables.scss';

.homeWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $white;
    overflow: hidden;

    @media(min-width: $screen-desktop) {
        height: calc(100vh - 200px);
    }

    .mainPic {
        width: 300px;
        height: calc(300px / 7);
        align-self: center;

        @media(min-width: 600px) {
            width: 500px;
            height: calc(500px / 7);
        }

        @media(min-width: $screen-desktop) {
            width: 900px;
            height: calc(900px / 7);
        }

        @media(min-width: 1200px) {
            width: 1200px;
            height: calc(1200px / 7);
        }

        @media(min-width: 1800px) {
            width: 1920px;
            height: calc(1920px / 7);
        }
    }
}

