@import '../../styles/variables.scss';

.contactCard {
    display: flex;
    justify-content: center;
    flex: 1 33%;
    margin-bottom: 30px;

    &.logoCard {
        flex: 1 100%;
        margin-bottom: 50px;
    }


    .innerWrapper {
        display: flex;
        flex-direction: column;
        //background-color: $grey;
        padding: $smallPadding 0;
        width: 250px;
        border-radius: $standardBorderRadius;
        box-shadow: $standard-shadow;
        
        .imgWrapper {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            overflow: hidden;
            align-self: center;

            &.logo {
                border-radius: 0;
                background-color: $red;
            }

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .infoWrapper {
            display: flex;
            flex-direction: column;
            align-self: center;

            .link {
                margin-bottom: 5px;
            }

            > h3 {
                margin: 10px 0;
            }

            > p {
                margin: 0;
            }
        }
    }
}