@import '../../../styles/variables.scss';

.adminNews {
    display: flex;
    justify-content: center;
    
    .newMessage {
        display: flex;
        flex-direction: column;
    }

    .currentMessage {
        width: 50%;
    }
}