@import '../../styles/variables.scss';

.headerBar {
    height: 0;
    width: 100%;

    @media (min-width: $screen-desktop) {
        height: 150px;
    }

    > nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        > .mobileMenuButton {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            &.-grey {
                background-color: $black;
                animation-name: upperMenuVisible;
                animation-duration: 1s;
                top: 0;
                right: 0;

                > svg {
                    height: 30px;
                    margin: 10px 10px 0 0;
                    fill: $white;
                }
            }

            > img {
                height: 40px;
                margin: 10px 10px 0 0;
            }

            @media (min-width: $screen-desktop) {
                display: none;
            }
        }
    }

    .menuBar {
        list-style-type: none;
        margin: 0;
        padding: 0;


        &.-hidden {
            display: none;
        }

        &.-visible {
            display: block;
            position: absolute;
            width: 100%;
            height: calc(100vh - 50px);
            top: 49px;
            background-color: $black;
            z-index: 5;
            animation-name: menuVisible;
            animation-duration: 0.8s;

            > .logo {
                display: none;
            }

            > li {
                width: 100%;
                text-align: center;
                margin: 40px 0;

                > a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }

                > a.active {
                    color: $red;
                }
            }
        }

        @media (min-width: $screen-desktop) {
            height: 150px;
            width: auto;
            display: flex;
            position: relative;

            &.-hidden {
                display: flex;
            }

            > li {
                display: block;
                padding: 0 2em;
                text-align: center;
    
                > a {
                display: inline-block;
                padding: 60px 20px 20px;
                border-radius: 0 0 5px 5px;
    
                    &:hover {
                        background-color: $red;
                        color: $white;
                        transition: background-color $standardTransitionTime, color $standardTransitionTime;
                    }
                }
    
                > a.active {
                    background-color: $red;
                    color: $white;
                }
            }
            > .logo {
                padding: 0 5em;
    
                > a {
                    padding: 20px 0 0;
    
                    &:hover {
                        background-color: $red;
                        transition: background-color $standardTransitionTime;
                    }
    
                    img {
                        height: 80px;
                    }
                } 
            }
        }
    }
}

@keyframes menuVisible {
    from {
        opacity: 0;
        left: 100%;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes upperMenuVisible {
    0% {
        background-color: $white;
        opacity: 0;
    }
    50% {
        background-color: $white;
        opacity: 0;
    }
    75% {
        background-color: $white;
        opacity: 1;
    }
    100% {
        background-color: $black;
        opacity: 1;
    }
}

