@import '../../styles/variables.scss';

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heroImage {
        width: 100%;
        height: 80px;
        overflow: hidden;
        box-shadow: $standard-shadow;

        @media (min-width: $screen-desktop) {
            display: none;
        }
    }

    .heroImageSakcenter {
        display: none;

        @media (min-width: $screen-desktop) {
            width: 100%;
            height: auto;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }

        img {
            display: none;

            @media (min-width: $screen-desktop) {
                display: block;
                width: 730px;
                height: auto;
                object-fit: cover;
                object-position: center;
                transform: rotate(-0.4deg);
            }
        }
    }

    .mainGallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        align-items: center;

        @media (min-width: $screen-desktop) {
            flex-direction: column-reverse;
        }

        .galleryText {
            max-width: 800px;
            margin-bottom: $smallPadding;
        }

        .productImg {
            width: 100%;
            height: calc(335px / 2.5);
            margin-bottom: $smallPadding;
            overflow: hidden;
            box-shadow: $standard-shadow;
            border-radius: $standardBorderRadius;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right;
            }

            @media (min-width: 500px) {
                height: calc(465px / 2.5);
            }

            @media (min-width: 700px) {
                height: calc(665px / 2.5);
            }

            @media (min-width: $screen-desktop) {
                width: 800px;
                height: calc(800px / 2.5);
            }
        }
    }

    .instagramPosts {
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        align-items: center;

        @media (min-width: $screen-desktop) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 100px 0 50px;
            max-width: 1260px;
        }

        .divider {
            background-color: $brown;
            width: 80%;
            height: 1.2px;

            @media (min-width: $screen-desktop) {
                width: 75%;
            }
        }

        .instagramHeader {
            width: 80%;
            margin: 0;
            text-align: center;

            a {
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;

                @media (min-width: $screen-desktop) {
                    font-size: 23px;
                    line-height: 27px;
                }
            }

            @media (min-width: $screen-desktop) {
                margin: 20px 0 40px;
            }
        }

        .instagramPost {
            width: 320px;
            height: 430px;
            overflow: hidden;
            margin: 20px 0;
            box-shadow: $standard-shadow;

            @media (min-width: $screen-desktop) {
                margin:50px;
            }
        }
    }
}