@import '../../styles/variables.scss';

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heroImage {
        background-color: black;
        width: 100%;
        height: 75px;
        overflow: hidden;
        border-radius: $standardBorderRadius;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media (min-width: $screen-desktop) {
            height: 175px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .galleryText {
        width: 100%;
        margin-bottom: $smallPadding;
        align-self: center;

        @media (min-width: $screen-desktop) {
            //margin-bottom: $mediumPadding;
            padding: $mediumPadding;
            width: 80%;
        }
    }
}