@import '../../styles/variables.scss';

.footer {
    background-color: $black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 5px 0 10px;

    @media (min-width: $screen-desktop) {
        padding: 0 0 10px;
    }

    .SClogo {
        display: none;

        @media (min-width: $screen-desktop) {
            display: block;
            background-color: $greyHalfOp;
            padding: 0 5px;
            margin: 10px 20px;
            border-radius: $standardBorderRadius;
        }

        > img {
            width: 150px;
            margin-top: 5px;
        }
    }

    .companyAddress {
        flex: 1;
        > p {
            color: $white;
            margin: 5px;
        }

        @media (min-width: $screen-desktop) {
            padding-bottom: 10px;

        }
    }

    .socialMedia {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;

        h4 {
            color: $white;
            letter-spacing: 2px;
            display: none;

            @media (min-width: $screen-desktop){
                display: inline-block;
                margin-bottom: 15px;
            }
        }

        .socialMediaInner {
            display: flex;
            flex-direction: column;

            @media (min-width: $screen-desktop) {
                flex-direction: row;
                justify-content: center;
            }

            .socialMediaLogo {
                background-color: $greyHalfOp;
                padding: 5px;
                width: 40px;
                height: 40px;
                border-radius: $standardBorderRadius;
                margin: 5px 0;

                @media (min-width: $screen-desktop) {
                    padding: 10px;
                    width: 60px;
                    height: 60px;
                    margin: 0 20px;

                    &:hover {
                        background-color: $grey;
                        transition: background-color $standardTransitionTime;
                    }
                }
        
                > img {
                    height: auto;
                    width: 30px;

                    @media (min-width: $screen-desktop) {
                        width: 40px;
                    }
                }
        
                
            }
        }
    }
}