@import './styles/variables.scss';
@import './styles/typhography.scss';

.mainContainer {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  background-color: $white;
  grid-template-areas:
  "main"
  "main"
  "footer";

  @media (min-width: $screen-desktop) {
    grid-template-rows: 150px auto auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
  }

  .content {
    width: 100%;
    padding: 0 0 20px;
    

    @media (min-width: $screen-desktop){
      padding: 20px 100px 100px;
    }
      
  }
}
