@import './styles/variables.scss';
@import './styles/typhography.scss';

.mainContainer {
  display: grid;
  grid-template-rows: 150px auto auto;
  grid-template-columns: 100%;
  background-color: $white;

  .content {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 20px 100px 100px;
  }
}
