@import '../../styles/variables.scss';

.workshop {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heroImage {
        background-color: black;
        width: 100%;
        height: 80px;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media (min-width: $screen-desktop) {
            border-radius: $standardBorderRadius;
            height: 175px;
        }

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .workshopText {
        width: 100%;
        margin-bottom: $smallPadding;
        align-self: center;
        padding: 0 20px;

        @media (min-width: $screen-desktop) {
            //margin-bottom: $mediumPadding;
            padding: $mediumPadding;
            width: 80%;
            column-count: 2;
            column-width: 45%;
            column-gap: $mediumPadding;
        }
    }
}